<!DOCTYPE <!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>succeed</title>
<link rel="stylesheet" href="../static/logon-register/css/style.css" />
<style>
.zw{height: 200px;}
</style>
<body>

<div class="register-container">
    <h1>succeed</h1>
    <div class="zw">
		<img src="../static/logon-register/index-image/6.gif">
	</div>
	<a href="logon.htm">
		<button type="button" class="register-tis">跳转登录</button>
	</a>

</div>


<script src="../static/logon-register/js/jquery.min.js"></script>
<script src="../static/logon-register/js/common.js"></script>
<!--背景图片自动更换-->
<script src="../static/logon-register/js/supersized.3.2.7.min.js"></script>
<script src="../static/logon-register/js/supersized-init.js"></script>
<!--表单验证-->
<script src="../static/logon-register/js/jquery.validate.min.js?var1.14.0"></script>

</body>
</html>