<!DOCTYPE <!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>index</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="../static/logon-register/css/style.css" />
<style>
a:link{color: white}
a:visited{color: white}
a:hover{color: white}
.zw{height: 100px;}
</style>
<body>

<div class="login-container">
    <div class="zw"></div>
    <h1>欢迎登陆AID1807个人查票网站</h1>
    <div class="zw"></div>
    <a href="logon.htm">查票请登录</a>

</div>

<script src="../static/logon-register/js/jquery.min.js"></script>
<script src="../static/logon-register/js/common.js"></script>
<!--背景图片自动更换-->
<script src="../static/logon-register/js/supersized.3.2.7.min.js"></script>
<script src="../static/logon-register/js/supersized-init.js"></script>
<!--表单验证-->
<script src="../static/logon-register/js/jquery.validate.min.js?var1.14.0"></script>

</body>
</html>